 * {
     margin: 0;
     padding: 0;
 }


 ul,
 ol {
     list-style: none;
 }

 #container {
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 30px;
 }

 header {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 #nav {
     display: flex;
     margin: 20px 0;
     gap: 10px
 }

 img {
     display: block;
 }

 a {
     text-decoration: none;
     color: #000;
     transition: .4s ease;
 }

 a:hover {
     text-decoration: underline;
 }

 main {
     border: 1px solid #000;
     border-left: none;
     border-right: none;
     padding: 30px 0;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 footer {
     padding: 10px 0;
     font-size: 12px;
 }

 #board-list {
    width:80%; 
    text-align: center;
    border-collapse: collapse;
 }

 #board-list th,td {
    border: #000 1px solid;
    padding: 5px 8px;
 }